
<%= javascript_include_tag 'contributor', media: 'all', 'data-turbolinks-track': 'reload' %>

<nav aria-label="breadcrumb" class="my-2">
  <ol class="breadcrumb pl-0 bg-transparent">
    <li class="breadcrumb-item"><%= link_to 'Categories', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to @blog.category.name, category_path(@blog.category) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @blog.title %></li>
  </ol>
</nav>
<section class='row justify-content-center'>
  <main class='col-md-9'>
    <div class='d-flex flex-column'>
      <div style='height: 500px'>
        <%= image_tag resource_image_url(@blog, :featured_image, 'default_picture.png'), class: 'w-100 h-100 object-fit-cover rounded shadow' %>
      </div>
      <h1 class='mb-0 mt-3 text-dark'><%= @blog.title %></h1>
      <div class='d-flex justify-content-between text-muted mb-3 mr-2'>
        <p>
          Published by <%= @blog.author.username %> on <%= @blog.created_at.strftime("%B %d, %Y") %>
        </p>
        <p>Category: <%= link_to @blog.category.name, category_path(@blog.category), class: 'text-muted' %></p>
      </div>
      <%# Content %>
      <p><%= simple_format(@blog.content) %></p>
      <%# Comments %>
      <div>
        <%= render 'shared/comments', resource: @blog%>
      </div>
    </div>
  </main>
  <aside class='border-left col-md-3 d-none d-lg-flex flex-column' >
    <div class="sticky-top" style="top: 8rem;">
      <%# Author card %>
      <div class='d-flex flex-column align-items-center mx-3'>
        <div class="card p-3 shadow w-100">
          <div class='card-img-top mx-auto rounded-circle' style="width: 200px;">
            <%= image_tag resource_image_url(@blog.author, :avatar, 'default_profile_picture.png'), class: 'w-100 h-100 object-fit-cover rounded-circle' %>
          </div>
          <div class="card-body p-0 mt-2">
            <h3 class="card-title text-center mb-1"><%= @blog.author.username %></h3>
            <p class="card-text text-muted text-center"><%= @blog.author.email if user_signed_in? %></p>
          </div>
        </div>
      </div>
      <% if can_request_contribution? %>
        <div class="mx-3 my-4">
          <%= form_with(url: category_blog_contributors_path(@blog.category, @blog), remote: true, id: 'contributor_form') do |form| %>
            <%= form.hidden_field :blog_id, value: @blog.id %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.hidden_field :company_id, value: Current.company.id %>
            <button class="btn btn-primary shadow <%= 'not-allowed disabled' if is_requested? %>" type="submit" id="submit_button" ><%= is_requested? ? 'Requested for Contribution' : 'Request for Contribution' %></button>
          <% end %>
          <p id='contributor_error' class = 'alert alert-danger alert-dismissible fade show mt-3' style="display: none;" role = 'alert'>
            <span id='contributor_error_message'><%= alert %></span>
            <button type="button" class="close" id='contributor_close_btn'>
              <span aria-hidden="true">&times;</span>
            </button>
          </p>
          <p id='contributor_notice' class = 'alert alert-warning alert-dismissible fade show mt-3' style="display: none;" role = 'alert'>
            <span id='contributor_notice_message'><%= alert %></span>
            <button type="button" class="close" id='contributor_notice_close_btn'>
              <span aria-hidden="true">&times;</span>
            </button>
          </p>
        </div>
      <% end %>
      <%# Contributors List %>
      <% if can? :destroy, @blog %>
      <div class="mx-3 my-4">
        <% if @blog.blogs_users.any? %>
          <h4 class="text-center">Contributors</h4>
          <div class="card shadow mx-3">
            <div class="card-body">
              <div class="d-flex flex-column" style="max-height: 200px; overflow-y: auto;">
                <% @blog.contributors.each do |contributor| %>
                  <div class="d-flex justify-content-between align-items-center py-2">
                    <div class="d-flex align-items-center">
                      <%= image_tag resource_image_url(contributor, :avatar, 'default_profile_picture.png'), class: 'rounded-circle mr-2', width: 40, height: 40 %>
                      <span class="text-truncate"><%= contributor.username %></span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </aside>
</section>