<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <% if @action == 'deleted' %>
        <%= 'New ' if @action == 'published' %>blog <strong><%= @blog.title %></strong> has been <strong><%= @action %></strong> by <strong><%= @actor.username %><strong></strong>.
      <% else %>
        <%= 'New ' if @action == 'published' %>blog <a href=<%=  @blog_url %> target="_blank"><%= @blog.title %></a> has been <strong><%= @action %></strong> by <strong><%= @actor.username %><strong></strong>.
      <% end %>
    </p>
    
  </body>
</html>