<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <% if @action == 'requested' %>
        <strong><%= @blog_user.user.username %></strong> requested for the contribution in the blog <a href=<%=  @blog_url %> target="_blank"><%= @blog_user.blog.title %></a>.
      <% else %>
        <strong><%= @actor.username %> <%= @action %></strong> the contribution request of <strong><%= @blog_user.user.username %></strong> for the blog <a href=<%=  @blog_url %> target="_blank"><%= @blog_user.blog.title %></a>.
      <% end %>
    </p>
  </body>
</html>