<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= 'New ' if @action == 'created' %>comment has been <strong><%= @action %></strong> by <strong><%= @actor.username %></strong> on <%= @comment.commentable_type %> <strong><%= @comment.commentable_type == 'Blog' ? @comment.commentable.title  : @comment.commentable.name %></strong>.
    </p>
    <% unless @action == 'deleted' %>
      <p>
        <a href=<%=  @url %> target="_blank" >View Commented <%= @comment.commentable_type %></a>
      </p>
    <% end %>
    
  </body>
</html>