<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= 'New ' if @action == 'created' %>comment has been <strong><%= @action %></strong> by <strong><%= @actor.username %></strong> on <%= @comment.commentable_type %> <a href=<%=  @url %> target="_blank"><%= @comment.commentable_type == 'Blog' ? @comment.commentable.title  : @comment.commentable.name %></a>.
    </p>
  </body>
</html>