<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= 'New ' if @action == 'published' %>blog <strong><%= @blog.title %></strong> has been <strong><%= @action %></strong> by <strong><%= @actor.username %></strong>.
    </p>
    <% unless @action == 'deleted' %>
      <p>
        <a href=<%=  @blog_url %> target="_blank" >View <%= @action %> blog</a>
      </p>
    <% end %>
    
  </body>
</html>