<div class="card mb-3 mr-3 shadow-sm" style="width: 550px;">
  <div class="row no-gutters">
    <div class="col-md-4" style="width: 600px;">
      <%= image_tag resource_image_url(blog, :featured_image, 'default_picture.png'), class: 'rounded-left object-fit-cover w-100 h-100', alt: blog.title %>
    </div>
    <div class="col-md-8 d-flex flex-column justify-content-between p-4">
      <div>
        <%= render "shared/author_minimal", author: blog.author %>
        <h2 class="card-title mb-1 text-truncate"><%= blog.title %></h2>
        <p class='mb-2'><%= link_to blog.category.name, category_path(blog.category), class: 'text-muted' %></p>
        <p class="card-text text-dark line-clamp-2" style="max-height: 100px;"><%= blog.excerpt %></p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <%= link_to "View",  category_blog_path(blog.category, blog), class: 'btn btn-primary shadow px-4'  %>
        <small class="text-muted">
            <%= blog.created_at.strftime("%B %d, %Y") %>
        </small>
      </div>
    </div>
  </div>
</div>