<section class='mb-5' style="max-height: 800px; overflow-y: auto;" >
  <h2 class='text-primary'>Comments</h2>
  <p id='comments_error' class = 'alert alert-danger alert-dismissible fade show' style="display: none;" role = 'alert'>
    <span id='comments_error_message'><%= alert %></span>
    <button type="button" class="close" id='comments_error_close_btn'>
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
  <p id='comments_notice' class = 'alert alert-warning alert-dismissible fade show' style="display: none;" role = 'alert'>
    <span id='comments_notice_message'><%= alert %></span>
    <button type="button" class="close" id='comments_notice_close_btn'>
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
  <div class="mx-3" id="comments_list">
    <% if resource.comments.present? %>
        <% resource.comments.each do |comment| %>
          <%= render 'shared/comment', comment: comment %>
        <% end %>
    <% else %>
      <%= image_tag 'no_comments.gif', alt: 'No comments', class: 'rounded shadow', id: 'no_comments_img' %>
    <% end %>
  </div>
  <% if can? :create, Comment %>
    <div class="mt-4">
      <button class='btn btn-primary' id="add_comment_btn">Add Comment</button>
    </div>
    <section class="modal-overlay" style="display: none;" id="comment_modal">
      <div class="modal-container rounded w-50">
        <header class="p-3 bg-gray rounded-top d-flex align-items-center position-relative border-bottom">
          <h3 class="m-0">Add Comment</h3>
          <i class="fa fa-close h3 m-0 position-absolute close" id="modal_close_btn" style="right: 15px;"></i>
        </header>
        <main class="bg-white p-3">
          <p id='comment_error' class = 'alert alert-danger alert-dismissible fade show' style="display: none;" role = 'alert'>
            <span id='comment_error_message'><%= alert %></span>
            <button type="button" class="close" id='comment_error_close_btn'>
              <span aria-hidden="true">&times;</span>
            </button>
          </p>
          <%= form_with mode: resource.comments, url: comments_path, remote: true, id: "comment_form" do |form| %>
            <div class="form-group">
              <%= form.text_area :content, class: 'form-control',id: 'comment_text_field',rows: 4,placeholder: "Enter your comment here...", required: true %>
            </div>
            <%= form.hidden_field :company_id, value: Current.company.id %>
            <%= form.hidden_field :commentable_id, value: resource.id %>
            <%= form.hidden_field :commentor_id, value: current_user.id %>
            <%= form.hidden_field :commentable_type, value: resource.class.name %>
            <div class="d-flex justify-content-end">
              <button class="btn btn-secondary mr-2 shadow" id="modal_cancel_btn">Cancel</button>
              <button class="btn btn-primary shadow" type="submit" id="submit_btn">Add Comment</button>
            </div>
          <% end %>
        </main>
        <footer>
        </footer>
      </div>
    </section>
  <% end %>
</section>