<%= javascript_include_tag 'contributors', media: 'all', 'data-turbolinks-track': 'reload' %>

<section class='my-5'>
  <h1>Contributors Request</h1>
  <% if contributors.present? %>
    <div class="table-responsive">
      <table id="contributors_table" class="table table-bordered shadow rounded">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Requested Blog</th>
            <th>Author</th>
            <th>Requested at</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% contributors.each do |contributor| %>
            <tr>
              <td><%= contributor.user.username %></td>
              <td><%= contributor.user.email %></td>
              <td>
                <div class="text-truncate d-flex justify-content-between">
                  <%= contributor.blog.title %>
                  <%= link_to category_blog_path(contributor.blog.category, contributor.blog) do %>
                    <i class='fa fa-eye bg-warning p-1 card text-white m-0' title='View'></i>
                  <% end %>
                </div>
              </td>
              <td><%= contributor.blog.author.username %></td>
              <td><%= contributor.created_at.strftime("%d %b %Y") %></td>
              <td class=<%= contributor.status %>><%= contributor.status %></td>
              <td class="p-0">
                <div class='d-flex justify-content-center pt-2'>
                  <% if can? :update, contributor %>
                    <% if contributor.pending?  %>
                      <%= link_to category_blog_contributor_path(contributor.blog.category.id, contributor.blog.id, contributor.id, status: :approved), method: :put, data: { confirm: "Are you sure?" } do %>
                        <i class='fa fa-check bg-success text-white p-2 card m-0 mr-3' title='Approve'></i>
                      <% end %>
                      <%= link_to category_blog_contributor_path(contributor.blog.category.id, contributor.blog.id, contributor.id, status: :rejected), method: :put, data: { confirm: "Are you sure?" } do %>
                        <i class='fa fa-close bg-danger text-white p-2 card m-0' title='Reject'></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% else %>
    <%= image_tag 'no_record.gif', alt: 'No Blog present' %>
  <% end %>
</section>