<nav id="header" class ='d-flex justify-content-between align-items-center sticky-top bg-white custom-wrapper' style="z-index: 1021">
  <%# logo %>
  <%= link_to root_path, id:'logo_link' do %>
    <div class = 'd-flex align-items-center'>
      <div class = 'main-logo-container rounded'>
        <%= image_tag request.subdomain.present? ? resource_image_url(Current.company, :logo, 'default_picture.png') : 'logo.png', class: 'w-100 h-100 object-fit-cover' %>
      </div>
      <h1 class = 'text-primary ml-3'><%= request.subdomain.present? ? Current.company.name : 'Blogster' %></h1>
    </div>
  <% end %>
  <%# nav %>
  <ul class = 'list-unstyled m-0 d-flex gap-3 align-items-center'>
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto align-items-center">
          <% if user_signed_in? %>
            <li class='nav-item mr-3'>
                <%= link_to "Dashboard", current_user, class: 'btn btn-primary' %>
            </li>
            <% if can? :create, Blog %>
              <li class='nav-item mr-3'>
                  <%= link_to new_user_blog_path(current_user), class: 'btn btn-primary' do %>
                    <i class='fa fa-add mr-2'></i>Create Blog
                  <% end %>
              </li>
            <% end %>
            <%# notification icon %>
            <li class="nav-item mr-3">
              <%= link_to "#{user_path(current_user)}/contributors", title: 'contributor requests',class: "d-flex align-items-center position-relative" do %>
                <i class="fa fa-bell text-warning h3 pt-2"></i>
                <span class="badge rounded-circle text-white bg-primary position-absolute" style="top: 1px; right: -5px;"><%= pending_requests_count %></span>
              <% end %>
            </li>
            <%# User Greeting %>
            <li class='nav-item mr-3'>
                <h3 class='m-0 text-dark'>Hi, <%= current_user.username %></h3>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                <%= image_tag resource_image_url(current_user, :avatar, 'default_profile_picture.png'),class: 'rounded-circle', width: 45, alt: current_user.username%>
              </a>
              <div class="dropdown-menu" style="z-index: 9999;">
                <%= link_to "Dashboard", current_user, class: 'dropdown-item'  %>
                <% if can? :create, Blog %>
                  <%= link_to 'Create Blog', new_user_blog_path(current_user), class: 'dropdown-item'%>
                <% end %>
                <%= link_to "Profile", "#{user_path(current_user)}/profile", class: 'dropdown-item'  %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { 
                  turbo_method: :delete,
                  turbo_confirm: 'Are you sure?' 
                }, class: 'dropdown-item'  %>	

              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary'  %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: 'btn btn-primary ml-3' if request.subdomain.present?  %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </ul>
</nav>