<navbar class = 'd-flex justify-content-between align-items-center sticky-top bg-white custom-wrapper' style="z-index: 9999">
  <%# logo %>
  <%= link_to root_path, id:'logo_link' do %>
    <div class = 'd-flex align-items-center'>
      <div class = 'main-logo-container rounded'>
        <%= image_tag request.subdomain.present? ? resource_image_url(@company, :logo, 'default_picture.png') : 'logo.png', class: 'w-100 h-100 object-fit-cover' %>
      </div>
      <h1 class = 'text-primary ml-3'><%= request.subdomain.present? ? @company.name : 'Blogster' %></h1>
    </div>
  <% end %>
  <%# nav %>
  <ul class = 'list-unstyled m-0 d-flex gap-3 align-items-center'>
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto align-items-center">
          <% if user_signed_in? %>
            <li class='nav-item mr-3'>
                <%= link_to "Dashboard", dashboard_url(current_user), class: 'btn btn-primary' %>
            </li>
            <li class='nav-item mr-3'>
                <%= link_to "My Company", company_url(current_user.company), class: 'btn btn-primary' if current_user.owner? %>
            </li>
            <li class='nav-item mr-3'>
                <h3 class='m-0 text-dark'>Hi, <%= current_user.username %></h3>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                <%= image_tag resource_image_url(current_user, :avatar, 'default_profile_picture.png'), width: 40, alt: current_user.username%>
              </a>
              <div class="dropdown-menu" style="z-index: 9999;">
                <%= link_to "Dashboard", dashboard_url(current_user), class: 'dropdown-item'  %>
                <%= link_to "My Company", company_url(current_user.company), class: 'dropdown-item' if current_user.owner? %>
                <%= link_to "Profile", "#{dashboard_url(current_user)}/profile", class: 'dropdown-item'  %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { 
                  turbo_method: :delete,
                  turbo_confirm: 'Are you sure?' 
                }, class: 'dropdown-item'  %>	

              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary'  %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: 'btn btn-primary ml-3'  %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </ul>
</navbar>