  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <section class = 'parallax bg-1 position-relative d-none d-md-block'>
    <div class = 'overlay'></div>
    <div class = 'custom-wrapper position-absolute top-20'>
      <div class = 'jumbotron shadow-lg'>
        <h5 class = 'lead'>Hello Welcome to</h5>
        <h1 class = 'text-uppercase display-1'>Blogster</h1>
        <hr class="my-4">
        <h5 class = 'lead'>
          Unleash your creativity, where ideas take flight - step into the world of Blogster<br/>
          Your story, your voice, your blog - discover it all at Blogster!"
        </h5>
      </div>
      <div class="arrow bounce mx-1">
          <a class="fa fa-arrow-down fa-2x" href="#"></a>
      </div>
    </div>
  </section>

<h1 class = 'display-4 my-5'>Companies</h1>
<div class = 'row justify-content-center'>
  <% @companies.each do |company| %>
    <div class="card mb-3 mr-3 shadow-sm" style="width: 500px; height: 180px;">
      <div class="row no-gutters">
        <div class="col-md-4" style="height: 178px; width: 350px">
          <%= image_tag resource_image_url(company, :logo, 'default_picture.png'), class: 'rounded-left w-100 h-100 object-fit-cover' %>
        </div>
        <div class="col-md-8">
          <div class="card-body " style="height: 180px;">
            <div class='d-flex flex-column justify-content-between h-100'>
              <div>
                <h5 class="card-title"><%= company.name %></h5>
                <p class="card-text">
                  <small class="text-muted">
                    Last updated <%= time_ago_in_words(company.updated_at) %> ago
                  </small>
                </p>
              </div>
              <%= link_to "View",  company_url(company), class: 'btn btn-block btn-primary', style: 'width: fit-content;' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render "shared/pagy_nav" %>
