<%= javascript_include_tag 'category_crud', media: 'all', 'data-turbolinks-track': 'reload' %>

<section class='row justify-content-center'>
  <%# Banner %>
  <main class='col-md-8 mt-5'>
    <%# Categories BLOGS %>
    <% Current.company.categories.first(5).each do |category| %> 
      <% if category.blogs.present? %>
        <div class="accordion border-bottom" id="category_<%= category.id %>_header_box">
          <div>
            <div id="category_<%= category.id %>_header">
              <button class="btn" style="font-size: 1.5rem;" type="button" data-toggle="collapse" data-target="#category_<%= category.id %>_blogs_box" aria-expanded="true" aria-controls="category_<%= category.id %>_blogs_box">
                <%= category.name %>
              </button>
            </div>
          </div>
        </div>
        <div id="category_<%= category.id %>_blogs_box" class="collapse show" aria-labelledby="category_<%= category.id %>_header" data-parent="#category_<%= category.id %>_header_box">
          <div class="card-body d-flex pb-0" id='category_<%= category.id %>_blogs'>
            <% category.blogs.first(3).each do |blog| %>
              <%= render "shared/blog_card_mini", blog: blog%>
            <% end %>
          </div>
          <div class='d-flex justify-content-between pb-3' style="padding-right: 40px;">
            <div>
            </div>
            <div>
              <%= link_to 'View More', category_path(category), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </main>
  <aside class='border-left col-md-4 d-none d-lg-block'>
    <div class='d-flex flex-column align-items-center sticky-top' style="padding-top: 6.5rem;">
      <p id='category_error' class = 'alert alert-danger alert-dismissible fade show' style="display: none;" role = 'alert'>
        <span id='category_error_message'><%= alert %></span>
        <button type="button" class="close" id='category_error_close_btn'>
          <span aria-hidden="true">&times;</span>
        </button>
      </p>
      <%# Category ADD %>
      <% if can? :create, Category %>
        <%= form_with model: @category, remote: true,  class:'d-flex flex-column', id: 'add_category_form'  do |f|%>
          <%= f.text_field :name, placeholder: 'Category name', class: 'form-control', required: true %>
          <%= f.hidden_field :company_id, value: Current.company.id %>
          <%= f.hidden_field :owner_id, value: @current_user.id %>
          <%= f.submit 'Add Category', data: { disable_with: "Adding..." }, class: 'btn btn-primary shadow mt-3', id: 'add_category_btn' %>
        <% end %>
      <% end %>
      <%# Categories LIST %>
      <div class="accordion mt-5 w-75 card" id="categories_list_heading">
        <div class="card border">
          <div class="card-header d-flex justify-content-center" id="categories_header">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" style="font-size: 1.5rem;" type="button" data-toggle="collapse" data-target="#categories_data" aria-expanded="true" aria-controls="categories_data">
                Categories
              </button>
            </h2>
          </div>

          <div id="categories_data" class="collapse show border" aria-labelledby="categories_header" data-parent="#categories_list_heading">
            <div class="card-body flex-column" id='categories_list' style="max-height: 200px; overflow-y: auto;">
              <% Current.company.categories.each do |category| %>
                <%= render "shared/category", category: category  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%# Authors Carousel %>
      <% if @authors.present? %>
        <h4 class='mt-5 mb-3 text-primary'>Authors</h4>
        <div id="authors_carousel" class="carousel slide text-center card mb-5 w-75" data-ride="carousel">
          <div class="carousel-inner">
            <%# author cards %>
            <% @authors.each do |author| %>
              <div class="carousel-item px-5 <%= 'active' if @authors.first == author%>">
                <div class='px-5 pt-5'>
                  <%= image_tag resource_image_url(author, :avatar, 'default_profile_picture.png'), width: 150, class: 'rounded-circle shadow mb-4'%>
                </div>
                <div class="row d-flex justify-content-center">
                  <div>
                    <h5 class="mb-3"><%= author.username %></h5>
                    <p><%= author.email if user_signed_in? %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev my-auto btn btn-primary" type="button" style="height: fit-content;" data-target="#authors_carousel"
            data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next my-auto btn btn-primary" style="height: fit-content;"  type="button" data-target="#authors_carousel"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
      <% end %>
    </div>
  </aside>
</section>