<main class="mt-2 custom-wrapper">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb pl-0 bg-transparent">
      <li class="breadcrumb-item"><%= link_to 'Categories', root_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @category.name %></li>
    </ol>
  </nav>
  <section class='col-md-12'>
    <div class='row justify-content-center'>
      <% if @blogs.present? %>
        <% @blogs.each do |blog| %>
          <%= render "shared/blog_card", blog: blog%>
        <% end %>
      <% else %>
        <%= image_tag 'no_record.gif', alt: 'No blogs found' %>
      <% end %>
    </div>
    <%= render "shared/pagy_nav" if @blogs.size > 20 %>
  </section>
</main>