<div class="mt-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb pl-0 bg-transparent">
      <li class="breadcrumb-item"><%= link_to 'Categories', root_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @category.name %></li>
    </ol>
  </nav>
  <section class='row justify-content-center'>
    <main class='col-md-8'>
      <div class='row justify-content-center'>
        <% if @blogs.present? %>
          <% @blogs.each do |blog| %>
            <%= render "shared/blog_card", blog: blog%>
          <% end %>
          <%= render "shared/pagy_nav" %>
        <% else %>
          <%= image_tag 'no_record.gif', alt: 'No blogs found' %>
        <% end %>
      </div>
      
    </main>
    <aside class='border-left col-md-4 d-none d-lg-flex flex-column' >
      <div class="sticky-top" style="top: 8rem;">
        <%# Comments %>
        <div>
          <%= render 'shared/comments', comments: @comments, resource: @category  %>
        </div>
      </div>
    </aside>
  </section>
</div>